p::first-letter {

  float: top;
  font-size: 1.5em;

}
body{
background: rgb(238,174,202);
}
ul{
  list-style-type: none;
}
a{
color: white;
  text-decoration: none;
}
img{

  width: 20em;
  height: 20em;
}
